<body>
<h1 style="color: red;">Hello World</h1>
<h2 style="color: white;">ipaddress: <%= node['cloud']['public_ipv4'] %></h2>
<h2 style="color: white;">hostname: <%= node['cloud']['public_hostname'] %></h2>
</body>
